<h1>Edit Idea</h1>
<%#= @idea.errors.full_messages.join(', ') %>

<%# if you pass a pesisted ActiveRecord object to the `form_for` (in the DB)
    then `form_for` will submit a `PATCH` request (instead of POST) using a
    hidden_field technique and the URL for the form will be in the case the
    `update` action url which is in our case idea_path(@idea) %>
<%= form_for @idea do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title, { class: 'form-control' } %>
  </div>
  <div>
    <%= f.label :body %>
    <%= f.text_area :body, { class: 'form-control' } %>
  </div>
  <br>
  <%= button_tag(type: 'submit', class: "btn btn-primary") do %>
  Create Idea
  <% end %>
<% end %>
