<br>
    <div class="row container-fluid">
      <div class="col-md-10">
        <h1 class="indexTitle">Ideas Generator</h1>
        <br>
      </div>
      <div class="col-md-2">
        <button type="button" class="btn btn-default newIdeaBtn" data-toggle="modal" data-target="#newModal" ><%= link_to('New Idea', new_idea_path) %></button>
      </div>
    </div>

    <div id="newModal" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">New Idea</h4>
          </div>
          <div class="modal-body">
            <%= @idea.errors.full_messages.join(', ') %>
            <%= form_for @idea do |f| %>
            <div class="form-group">
              <%= f.label :title %>
              <%= f.text_field :title, { class: 'form-control' }%>
            </div>
            <div class="form-group">
              <%= f.label :body %>
              <%= f.text_area :body, { class: 'form-control' }%>
            </div>

            <!-- <%= f.submit %> -->
            <%= button_tag(type: 'submit', class: "btn btn-primary") do %>
            Create Idea
            <% end %>
          <% end %>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>

      </div>
    </div>



    <% @ideas.each do |i| %>
              <div class="row">
                <div class="col-md-10">

                        <div class="idea-title">
                        <h3 style="margin-top:0"><%=link_to i.title, i %> </h3>
                        <div class="idea-body"><p><%= i.body %></p><h5>By <%= link_to i.user.first_name %></h5></div>
                        </div>

                </div>
                <div class="col-md-2">
                  <span class="glyphicon glyphicon-plus" div="#joined" aria-hidden="true"></span> &nbsp;
                  <span class="glyphicon glyphicon-thumbs-up" div="#liked" aria-hidden="true"></span>

                  <!-- <a><i class="fa fa-plus fa-3x" id="joined" aria-hidden="true"></i></a>
                  <a><i class="fa fa-thumbs-o-up fa-3x" id="liked" aria-hidden="true"></i></a> -->
                  <%#= button_tag(type: 'submit', class: "btn btn-primary") do %>
                  <!-- Join -->
                  <%# end %>
                  <%#= button_tag(type: 'submit', class: "btn btn-primary") do %>
                  <!-- Like -->
                  <%# end %>

                  <div class="join_like">
                    Members: <%= rand(5..20) %> | Likes: <%= rand(1..42) %>
                  </div>
                </div>
              </div>
            <hr>
          <% end %>

<script>

$( ".glyphicon-plus" ).click(function() {
  $( this ).toggleClass( "clicked" );
});

$( ".glyphicon-thumbs-up" ).click(function() {
  $( this ).toggleClass( "clicked" );
});

// $(function() {
//      $('a').click(function() {
//          $(this).find('#liked').toggleClass('fa-thumbs-up fa-thumbs-o-up');
//      });
//  });
//  $(function() {
//      $('a').click(function() {
//          $(this).find('#joined').toggleClass('fa-plus fa-minus');
//      });
//  });


</script>
