

<h5><%#= link_to(@idea.category.title.upcase , category_path(@idea.category.id)) %></h5>

      <h2><%= @idea.title%></h2>
      <p><%= @idea.body %></p>

      <h5>By <%=link_to @idea.user.first_name %></h5>

      <hr>

      <% if can? :edit, @idea %>
        <%= link_to 'Edit', edit_idea_path(@idea) %>
      <% end %>

      <% if can? :destroy, @idea %>
        <%= link_to 'Delete', idea_path(@idea),
                              method: :delete,
                              data: { confirm: 'Are you sure?' } %>
      <% end %>

      <%= @review.errors.full_messages.join(', ') %>
      <h2>Write Review</h2>

      <%= form_for [ @idea, @review ] do |f| %>
      <div class="form-group">
      <%= f.text_area :body, { class: 'form-control' }%>
      </div>

      <%= button_tag(type: 'submit', class: "btn btn-primary") do %>
        Submit Review
      <% end %>
    <% end %>

    <hr />
<!-- should be @questeion.reviewss but based on typo before its reviews now -->

<% @idea.reviews.each do |r| %>
  <p><%= r.body %></p>
  <p>By <%= r.user.first_name %></p>

<% if can? :destroy, r %>
<%# if can_edit_review?(@review) %>
  <%= link_to 'Delete', idea_review_path(@idea, r),
                        method: :delete,
                        data: { confirm: 'Are you sure?' } %>
<% end %>


  <hr />
<% end %>
